.catCard {
	color: #fff !important;
}
.prdCard {
	color: #000 !important;
}
.nbr-card {
	border-radius: 0px !important;
}
.form-label {
	font-size : 12px;
}
.prdImage {
	width: 200px;
	height: 200px;
}
.prdImagecart {
	width: 200px;
	height: 200px;
}
.carthead {
	background-color: #696969;
	margin-right: 0px;
	margin-left: 0px;
	color: #E8E8E8;
	border-bottom: 1px solid ;
}
.carthead:hover {
	background-color: #808080;
}
.pad15 {
	padding: 15px !important;
}



